body{
  background-color:#3C4E99;
  font: Bold 32px/42px Futura;
}
h1{
top: 296px;
left: 179px;
width: 623px;
height: 152px;
text-align: left;
font: Bold 58px/77px Futura;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}